<div ng-controller="HomeCtrl">
<div class="row">
<!-- 	<div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4" style="font-family: 'Lobster', cursive; font-size: 30px;"> Wordbase Solver</div>
	<div class="col-xs-3 col-xs-offset-2 col-md-1 col-md-offset-4"><iframe src="https://ghbtns.com/github-btn.html?user=uohzxela&repo=wordbase-solver&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe></div> -->
	<!-- <div class="col-xs-3 col-md-1"><iframe src="https://ghbtns.com/github-btn.html?user=uohzxela&repo=wordbase-solver&type=fork&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe></div>
 -->
</div>
<div align="center">
	<div class="row">
		<div class="col-xs-3 col-xs-offset-3 col-md-2 col-md-offset-4">
			<button type="button" ng-click="color='orange'" ng-class = "{'active' : color == 'orange'}" class="btn btn-warning">Orange</button>
		</div>
		<div class="col-xs-3 col-md-2">
			<button type="button" ng-click="color='blue'" ng-class = "{'active' : color == 'blue'}" class="btn btn-info">Blue</button>
		</div>
	</div>
	<hr>
	<div class="row">
		<div required name="file" ngf-select ng-model="files" class="btn btn-primary" ngf-accept="'image/*'" ngf-multiple="false" ng-model-rejected="rejFiles"><span class="glyphicon glyphicon-export"></span>Upload a Wordbase screenshot</div>
		<p>Need a <a href="https://s3-ap-southeast-1.amazonaws.com/wordbase-solver/accepted-images/ios.jpg">sample screenshot</a>?
	</div>
	<img style="margin-top:30px; width:300px" ngf-src="files[0]"  ngf-accept="'image/*'">
	<hr>
	<ul class="list-group" style="width:300px">
		<li style="text-align:center" ng-repeat="word in words"class="list-group-item">{{word}}</li>
	</ul>
</div>
